PORT=5000
MONGO_URI=mongodb://your_mongodb_connection
JWT_SECRET=change_this_secret_key
CLIENT_URL=https://your-frontend-url.com
BACKEND_PUBLIC_URL=https://lifebuddy-backend-2wr8.onrender.com
ADMIN_EMAIL=daniduwijesinghe11@gmail.com
ADMIN_PASSWORD=ASdf1234-Passwordn